### Day Objectives
- Combinations
- Set - Data Structure
    - Set Operations
    - Use Cases
- Functional Programming
    - Iterators
    - Generators
    - Maps
    - Lambda 
    - Builtin Functions 
    - Use cases

In [1]:
# Function to print all combinations of 
#[1,2,3]->(1,2),(1,3),(2,3)->3c2 ->
# [1,2,3,4]->1,2 1,3 1,4 2,3 2,4 3,4

def combinations(li):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            print(li[i],li[j])
li=[1,2,3,4,5]
combinations(li)

1 2
1 3
1 4
1 5
2 3
2 4
2 5
3 4
3 5
4 5

In [2]:
# combinations of two elements
def combinations3(li):
    for i in range(len(li)-2):
        for j in range(i+1,len(li)-1):
            for k in range(j+1,len(li)):
               print(li[i],li[j],li[k])
    return
li=[1,2,3,4]
combinations3(li)

1 2 3
1 2 4
1 3 4
2 3 4

In [11]:
# [1,2,3] -> [1,2,3]

def medium(li,k):
    while(True):
        li3 = differencePairs(li)
        if li3[0] == li3[1]:
            break
    if len(li3[0]) >= k:
        return sorted(li3[0],reverse=True)[k-1]
    return -1

# Function to identify differences of all 
#pairs of numbers and add those differences
#to the same list.
# It returns the updated list and original list

def differencePairs(li):
    cli = li[:]
    newelements = []
    
    for i in range(len(li)-1):
        for j in range(i+1, len(li)):
            d = abs(li[i]-li[j])
            if d not in li and d not in newelements:
                newelements.append(d)
    li.extend(newelements)
    return [cli, li]
li = [1,9,8,7,6,2]
differencePairs(li)

[[1, 9, 8, 7, 6, 2], [1, 9, 8, 7, 6, 2, 5, 3, 4]]

In [ ]:
# List Data referencing vs Data copy
a = [1,2,3]
b= [1,3,2]
a = b.copy() # Data Copy through indirect

a = b # Data Referencing

b.append(4)
a.append(5)
b

In [ ]:
[4,8]
[20,40,60]
[4,8,12,16]
[3,6,9,12]
# Convert the list into an
# Arithmetic Progression

[3,8,15]
[3,8,15,5,2,1,4,6,7,9,10,11,12,13,14]

In [12]:
def diffPairs(li,k):
    for i in range(len(li)-1):
        for j in range(i+1,len(li)):
            value=abs(li[i]-li[j])
            if value not in li:
                li.append(value)
                diffPairs(li,k)
    if len(li)>k:
        hig=li[k]
        return hig
    else:
        return -1

diffPairs([1,9],3)

7

### Set - Data Structure in Python

Represented by '{}'
- contains only unique elements
- removes repeated elements
- mutable

In [22]:
a = {1,2,3,4,5,6, 6}  # Contains only unique elements and removes repeated elements
                      
a.add(7) #adding a single element to a set
#a
for i in a:
    print(i,end = ' ') # accessing all elements in set
    
#b = {7,8,9}
b = {7,8,9,1,2,3}
li = [11,12,13]

a.update(b,li) # adding multiple elements
a

1 2 3 4 5 6 7

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12, 13}

In [23]:
a.discard(13)

a

{1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 12}

In [30]:
a = {10,1,2,3,4,5,6}
b = {7,8,9,1,2,3}
c = {111,123}

#a.union(b)
# A U B = B U A
#b.union(a)
a.intersection(b) # show only common elements in given lists

{1, 2, 3}

In [31]:
#a.isdisjoint(b)
a.isdisjoint(c)

True

In [33]:
a-b # All elements of A which are not in B
b-a # All elements of B which are not in A

{7, 8, 9}

In [34]:
sorted(a)

[1, 2, 3, 4, 5, 6, 10]

In [35]:
a ^ b # uncommon elements (elements either in A or in B not in both)

{4, 5, 6, 7, 8, 9, 10}

In [36]:
d = set() # Creates an empty set

d

set()

In [37]:
li = [1,2,3,4,2,1,2,3,4]
u = set(li)
u

{1, 2, 3, 4}

In [ ]:
Procedural : c
Object Oriented : Java, Python
Scripting : PHP, Python, Javascript, Shel
Functional : Python, Haskell, Scala
Logic : Prolog, Lisp

### List Comprehensions

In [38]:
# N natural numbers in a list
n = 10
li = []
for i in range(1,n+1):
    li.append(i)
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [41]:
li = [i for i in range (1,11)]
li

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [43]:
# Apply list comprehension to store the cubes of n natural numbers

li = [ i**3 for i in range(1,11)]

li

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [45]:
# Function to calculate the factorial 

def factorial(n):
    if n == 0 or n == 1:
        return 1
    return n * factorial(n-1)
#factorial(3)
# Apply list comprehension to calcualate factorial of n natural numbers

n = 5
factorialList = [factorial(i) for i in range(1,n+1)]

factorialList

[1, 2, 6, 24, 120]

In [51]:
# Store cumulative sum of numbers till n in a list
# n = 3, [1,3,6]

def cumulativeSum(n):
    sum = []
    j = 1
    for i in range(0,n):
        res = i + j
        j = res + 1
        sum.append(res)
    return sum
cumulativeSum(3)

[1, 3, 6, 10, 15]

In [52]:
n = 5
cumulativeSum = [sum(range(1,i+1)) for i in range(1,n)]
cumulativeSum

[1, 3, 6, 10]

In [60]:
# List Comprehension to store only leap years in a given time period
st = 1970
et = 2019
leapYears = []
leapYears = [i for i in range (st,et+1) if (i % 400 == 0 and i%100 != 0) or i%4 == 0]
leapYears

[1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016]

In [66]:
li = [1,2,3,2,1,3,4,5,3,2,2]

unique = []
unique1 = [unique.append(i) for i in li if i not in unique]
unique

[1, 2, 3, 4, 5]

### Iterators

- Iterabale - Strings, Tuples, Sets, Dictionaries
- Convert Iterable to Iterator -> iter()

In [70]:
it = iter('Python')

print(next(it))

P

### Generators
- Generator is a function

In [79]:
def generator():
    n = 2
    yield n
    
    n = n**3
    yield n
    
    n = n**3
    yield n
    
a = generator()
next(a)
next(a)
next(a)
#next(a)

512

In [82]:
def generator():
    n = 2
    for i in range(1,5):
        n **= 3
        yield n

a = generator()

next(a)
b = next(a) ** 2
b *= next(a)
b

35184372088832